streamlit==1.31.0
pydantic>=2.7.4,<3.0.0
langchain-core>=0.3.29
langchain>=0.3.14
langchain-groq>=0.1.5
langchain-community>=0.0.16
validators==0.22.0
pytube==15.0.0
python-dotenv==1.0.1
unstructured==0.11.0
beautifulsoup4==4.12.3
markdown==3.5.2
urllib3==2.1.0
typing-extensions>=4.5.0
